@import 'tailwindcss';
@plugin 'tailwindcss-animate';

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  src: url('./assets/Montserrat-VariableFont_wght.ttf') format('opentype');
}

@theme {
  --color-background: #191920;
  --color-foreground: #eee;
  --color-ring: var(--color-foreground);

  --color-muted: #a4a4b3;
  --color-muted-foreground: #595959;

  --color-primary: #30b8fc;
  --color-primary-foreground: #000;

  --color-destructive: #e86a6a;
  --color-destructive-foreground: #f8fafc;

  --color-accent: #111117;
  --color-accent-foreground: #fff;

  --color-popover: var(--color-background);
  --color-popover-foreground: var(--color-foreground);

  --font-sans: 'Montserrat', ui-sans-serif, system-ui, sans-serif;

  --spacing-header: 50px;
  --spacing-footer: 75px;
  --spacing-sidebar: 420px;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-zinc-700);
  }

  body {
    @apply bg-background text-foreground overflow-hidden;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }

  select {
    appearance: none;
  }
}

.lucide {
  stroke-width: 2px;
}

.svg-preview svg {
  @apply bg-accent border overflow-hidden max-h-200;
}

.simplebar-scrollbar::before {
  background-color: var(--color-foreground);
}
